<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./hotsite.css">
</head>
    <div class="conteiner">
        <!-- <div class="navfixo">
            
        </div> -->
        <div class="conteudo1">
            <div class="texto1">
                <div class="texto">
                    <span>Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui Descrição aqui</span>
                </div>
            </div>
            <div class="cadastro">
                <form action="">

                </form>
            </div>
        </div>
        <div class="conteudo2">
            <div>
                <div class="separarador">

                </div>
                <div class="separador">

                </div>
                <div class="separador">

                </div>
            </div>
        </div>
        <div class="conteudo3">
            
        </div>
        <div class="conteudo4">

        </div>
        <footer class="footer">

        </footer>
    </div>
<body>
    <script src="./hotsite.js"></script>
</body>
</html>