<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./hotsite.css" />
  </head>
  <body>
    <!-- barra superior -->
    <header class="barrasuperior">
      <img src="img/Prancheta_1.png" class="logo" alt="" />
      <div class="menu">
        <ul>
          <li><a href="#home">Início</a></li>
          <li><a href="#oprojeto">O Projeto</a></li>
          <li><a href="#agenda">Agenda</a></li>
          <li><a href="#manual">Manual de Marca</a></li>
        </ul>
      </div>
    </header>

    <div class="conteiner">
      <!-- conteiner principal -->
      <div class="home" id="home">
        <div class="gradient">
          <div class="marca">
            <div class="logo"></div>
            <h2>Aos que transitam entre mundos completamente opostos.</h2>
          </div>
        </div>
      </div>
      <!-- conteiner 2 -->
      <div class="pages">
        <!-- o projeto -->
        <div class="projeto" id="oprojeto">
          <div class="texto">
            <div class="conteudo">
              <h3>MistiCidade</h3>
              <p>
                O MistiCidade é um projeto fotográfico que busca trazer
                visibilidade àqueles que não pertencem a um único grupo.
              </p>
            </div>
          </div>
        </div>
        <!-- agenda -->
        <div class="agenda" id="agenda">
          <div class="texto">
            <div class="conteudo">
              <h3>Agenda</h3>
              <p>MistiCidade na EEEP</p>
              <p>Data: 17 de Março de 2019</p>
              <p>Local: EEEP Maria Cavalcante Costa</p>
              <p>
                Palestra com os realizadores do projeto MistiCidade sobre a
                possibilidade da interdisciplinaridade entre a tecnologia e as
                artes visuais.
              </p>
            </div>
          </div>
        </div>
        <!-- manual -->
        <div class="manual" id="manual">
          <!-- page1 -->
          <div class="page1 pgs largura">
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
              </div>
            </div>
            <div class="menu">
              <ul>
                <li class="marcado">Início</li>
                <li>Marca</li>
                <li>Aplicações</li>
                <li>Tipografia</li>
                <li>Cores</li>
                <li>Sonoridade</li>
                <li>Nossa Voz</li>
              </ul>
            </div>
          </div>
          <!-- page2 -->
          <div class="page2 pgs">
            <div class="imgs">
              <img src="./img/logo isolada preta.svg" alt="" />
              <img src="./img/logo isolada branca.svg" alt="" />
            </div>
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
                <div class="menu">
                  <ul>
                    <li>Início</li>
                    <li class="marcado">Marca</li>
                    <li>Aplicações</li>
                    <li>Tipografia</li>
                    <li>Cores</li>
                    <li>Sonoridade</li>
                    <li>Nossa Voz</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- page3 -->
          <div class="page3 pgs">
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
              </div>
              <div class="menu">
                <ul>
                  <li>Início</li>
                  <li>Marca</li>
                  <li class="marcado">Aplicações</li>
                  <li>Tipografia</li>
                  <li>Cores</li>
                  <li>Sonoridade</li>
                  <li>Nossa Voz</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- page4 -->
          <div class="page4 pgs">
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
              </div>
              <div class="menu">
                <ul>
                  <li>Início</li>
                  <li>Marca</li>
                  <li>Aplicações</li>
                  <li class="marcado">Tipografia</li>
                  <li>Cores</li>
                  <li>Sonoridade</li>
                  <li>Nossa Voz</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- page5 -->
          <div class="page5 pgs">
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
              </div>
              <div class="menu">
                <ul>
                  <li>Início</li>
                  <li>Marca</li>
                  <li>Aplicações</li>
                  <li>Tipografia</li>
                  <li class="marcado">Cores</li>
                  <li>Sonoridade</li>
                  <li>Nossa Voz</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- page6 -->
          <div class="page6 pgs">
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
              </div>
              <div class="menu">
                <ul>
                  <li>Início</li>
                  <li>Marca</li>
                  <li>Aplicações</li>
                  <li>Tipografia</li>
                  <li>Cores</li>
                  <li class="marcado">Sonoridade</li>
                  <li>Nossa Voz</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- page7 -->
          <div class="page7 pgs">
            <div class="texto">
              <div class="conteudo">
                <h3>Manual de Marca</h3>
                <p>
                  Nossa marca transmite quem somos. As linhas demonstram fluidez
                  e continuidade, conduzindo-se como um portal para o que surge
                  e transita a partir de suas individualidades.
                </p>
              </div>
              <div class="menu">
                <ul>
                  <li>Início</li>
                  <li>Marca</li>
                  <li>Aplicações</li>
                  <li>Tipografia</li>
                  <li>Cores</li>
                  <li>Sonoridade</li>
                  <li class="marcado">Nossa Voz</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./hotsite.js"></script>
  </body>
</html>
