<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./hotsite3.css">
</head>
<body>
    <div class="conteiner">
        <div class="parte1">
            <div class="logo"></div>
            <div class="title">
                <h2>Apresentação</h2>
            </div>
            <div class="conteudo">
                <p>Esta breve apresentação do nosso manual de identidade visual tem como objetivo preservar a uniformidade e coerencia de comunicação da marca Respira, nao pira, fornecendo especificações, recomendações e normas fundamentais para a sua correta utilização. Garantindo a segurança na marca, nossos valores e objetivo de comunicação.
                </p>
            </div>
            <div class="footer">
                <!-- <img src="./Prancheta 10.png" alt=""> -->
            </div>
        </div>
        <div class="parte2">
            <div class="cabecalho">
                <h2>Visual</h2>
                <div class="linha">

                </div>
            </div>
            <div class="texto">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
            </div>
        </div>
        <div class="parte3">
            <div class="cabecalho">
                <h2>
                    Identidade Visual
                </h2>
                <div class="linha">

                </div>
            </div>
            <div class="logo">
                <img src="./Prancheta 19.png" alt="">
            </div>
            <div class="texto">
                <p>A logomarca Respira, não pira foi desenvolvida de forma estratégica pensada em seu significado simbólico. Como nosso público-alvo se trata de jovens universitários, foi necessário desenvolver uma tipografia própria, jovial e espontânea, que remete algo escrito à mão. Seu estilo despojado simulando ondas em cada letra, representa, a imagem ilustrativa do processo do ar sendo inspirado e expirado, estas ondas se propagam durante todo o visual da nossa marca, representando a ação de ondas provocadas na água, assim como elas só ocorrem quando a água está em constante movimento, nossa idéia é proporcionar uma experiência constante com informações e dicas para nossos usuários. Já no sentido metafórico, a oscilação das ondas representa os altos e baixos da vida de nossos estudantes universitários em cada semestre.</p>                    
            </div>
            <div class="footer">

            </div>
        </div>
        <div class="parte4">
            <div class="cabecalho">
                <h2>Paleta de cores</h2>
                <div class="linha">

                </div>
            </div>
            <div class="texto">
                <p>A paleta de cores foi baseada em tons pastéis, variando de tons de azul, passando pelo violeta até chegar ao laranja. Acreditamos que tais cores remetem a semioses de calma, tranquilidade e equilíbrio, mesmo que não apresentem uma definição pré-estabelecida, porém buscamos gerar um grau de convenção a partir de tal composição própria para a identidade visual da nossa aplicação.</p>
            </div>
            <div class="aplicacoes">
                <img src="./Prancheta 14.png" alt="">
            </div>
            <div class="cabecalho">
                <h2>Guia de utilização</h2>
                <div class="linha">

                </div>
            </div>
            <div class="aplicacoes">
                <img src="./Prancheta 16.png" alt="">
            </div>
            <div class="texto">
                <h3>Aplicação da marca</h3>
                <p>A marca consiste em versões monocromáticas onde é permitido uma maior flexibilidade durante sua aplicação, permitindo a utilização da logo em preto ou branco sobre o fundo homogêneos pertencentes em nossa paleta de cores, tendo como restrições a utilização de duas cores simultaneas da paleta, ou cores de tonalidades vidrantes que não pertença ao nosso conjunto de cores. Estas orientações a respeito das aplicações dos elementos da marca é de acordo com a legibilidade e identificação da forma.</p>
            </div>
            <div class="aplicacoes">
                <img src="./Prancheta 15.png" alt="">
            </div>
            <div class="texto">
                    <p>Nessas situações, a marca deve ser aplicada exclusivamente nas cores preta( versão positiva) e branca(versão negativa).</p>
            </div>
            <div class="aplicacoes">
                <img src="./Prancheta 17.png" alt="">
            </div>
        </div>
        <div class="parte5">
            <div class="header">

            </div>
            <div class="cabecalho">
                <h2>Usos e Restrições</h2>
                <div class="linha">

                </div>
            </div>
            <div class="texto">
                <p>
                    A marca não deve ser distorcida, cortada ou ser utilizada em cores diferentes das indicadas nesse manual. A marca pode ser ampliada somente utilizando sua proporção original disponibilizada no manual. Os exemplos a seguir demonstram utilizações incorretas da marca.
                </p>
            </div>
            <div class="aplicacoes">
                <img src="./Prancheta 18.png" alt="">
            </div>
            <div class="footer">

            </div>
        </div>
        <div class="parte6">
            <div class="cabecalho">
                <h2>
                    Downloads
                </h2>
                <div class="linha">

                </div>
            </div>
            <div class="botoes">
                <div class="botao">
                    <a href="">Logo</a>
                </div>
                <div class="botao">
                    <a href="">Manual de marca</a>
                </div>
            </div>
        </div>
        <footer class="foooter">
            
        </footer>
    </div>
</body>
</html>