*{
    padding: 0;
    margin: 0;
}
.parte1{
    background-image: url("./imgs/Prancheta\ 21.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}
.parte1 .cabecalho{
    overflow: hidden;
}
.parte1 .cabecalho .logo{
    float: left;
}
.parte1 .cabecalho .nav{
    float: right;
    margin-top: 25px;
    margin-right: 25px;;
}
.parte1 .cabecalho .nav ul{
    list-style-type: none; 
}
.parte1 .cabecalho .nav ul li{
    float: left;
    
}
.parte1 .cabecalho .nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
    margin-right: 10px;
}
.parte1 .cabecalho .nav ul li a:hover{
    border-bottom: 1px solid white;
}
.parte1 .texto{
    margin-top: 75px;
}
.parte1 .texto h2{
    font-size: 66px;
}
.parte1 .texto p{
    margin-top: 5px;
    font-size: 26px;
}
.parte1 .botao{
    margin-top: 175px;
    overflow: hidden;
}
.parte1 .botao .click{
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 20vw; 
    padding: 8px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}
.parte1 .botao .click:hover{
    background-color: rgb(64, 176, 127);
}
.parte1 .footer{
    background-image: url("./imgs/Prancheta\ 10.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    height: 200px;
    transform: translate(0, 2px);
}
.parte2{
    background-color: white;
    text-align: center;
}
.parte2 .cabecalho h3{
    padding-top: 75px;
    font-size: 46px;
}
.parte2 .cabecalho .linha{
    height: 8px;
    width: 30%;
    background-color: rgb(64, 176, 127);
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;

}
.parte2 .texto{
    margin: auto;
    width: 60%;
    margin-top: 25px;
    font-size: 26px;
    margin-bottom: 75px;
}
.parte3{
    background-image: url("./imgs/Prancheta\ 21\ cópia.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center; 
    width: 100%;
}
.parte3 .header{
    height: 210px;
    background-image: url("./imgs/Prancheta\ 12.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
}
.parte3 .conteiner{
    overflow: hidden;
}
.parte3 .conteiner .conteudo{
    float: left;
    width: 50%;
}
.parte3 .conteiner .conteudo .cabecalho h3{
    font-size: 46px;
}
.parte3 .conteiner .conteudo .cabecalho .linha{
    height: 8px;
    width: 30%;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
}
.parte3 .conteiner .conteudo .texto{
    margin: auto;
    width: 60%;
    margin-top: 25px;
    font-size: 26px;
    margin-bottom: 75px;
    text-align: justify;
}
.parte3 .conteiner .conteudo .botao{
    font-size: 26px;
    padding: 8px;
    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
}
.parte3 .conteiner .conteudo .botao:hover{
    color: rgb(64, 176, 127);
    background-color: white;
}
.parte3 .footer{
    height: 210px;
    background-image: url("./imgs/Prancheta\ 11.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
}
.parte4{
    text-align: center;
    background: white;

}
.parte4 .cabecalho h3{
    padding-top: 75px;
    font-size: 46px;
}
.parte4 .cabecalho .linha{
    height: 8px;
    width: 30%;
    background-color: rgb(64, 176, 127);
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;

}
.parte4 .post{
    display: inline-block;
    margin: 45px 25px;
    width: 20%;
    text-align: justify;
    border-radius: 25px;
    background-color: rgb(64, 176, 127);
}
.parte4 .post .img{
    width: 100px;
    margin: auto;
    margin-top: 25px;
}
.parte4 .post .img img{
    width: 100px;
}
.parte4 .post p{
    padding: 10px;
    margin-top: 15px;
}
.parte4 .post{
    margin-bottom: 100px;
}
.foooter{
    height: 200px;
    background-color: rgb(64, 176, 127);
}