<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css.css">
</head>
<body>
    <div class="parte1">
        <div class="cabecalho">
            <div class="logo">
                <img src="./imgs/Prancheta 8.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="">Projeto</a>
                    </li>
                    <li>
                        <a href="">Serviçoes</a>
                    </li>
                    <li>
                        <a href="">Depoimentos</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                    <li>
                        <a href="">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="texto">
            <h2>Seja Bem-vindo</h2>
            <p>Esse site foi feito pensando em você</p>
        </div>
        <div class="botao">
            <a href="./page_psicologa.html" class="click">Quando devo procurar ajuda psicológica?</a>
            
        </div>
        <div class="footer">

        </div>
    </div>
    <div class="parte2">
        <div class="cabecalho">
            <h3>Nosso Propózito</h3>
            <div class="linha"></div>
        </div>
        <div class="texto">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        </div>
    </div>
    <div class="parte3">
        <header class="header"></header>
        <div class="conteiner">
            <div class="conteudo">
                <div class="cabecalho">
                    <h3>Ansiedade</h3>
                    <div class="linha">
                    </div>
                </div>
                <div class="texto">
                        Lorem ipsum dolor sit amet,  nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                </div>
                <div class="botao">
                    Saiba Mais
                </div>
                
            </div>
            <div class="conteudo">
                <div class="cabecalho">
                    <h3>Estresse</h3>
                    <div class="linha">
            
                    </div>
                </div>
                <div class="texto">
                        Lorem ipsum dolor sit amet,ibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                </div>
                <div class="botao">
                    Saiba Mais
                </div>
            </div>            
        </div>
        
        <div class="footer">
                
        </div>
    </div>
    <div class="parte4">
        <div class="cabecalho">
            <h3>Depoimentos</h3>
            <div class="linha"></div>
        </div>
        <div class="post">
            <div class="img">
                <img src="./imgs/Prancheta 23 cópia 2.png" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet,ibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.
            </p>
        </div>
        <div class="post">
            <div class="img">
                 <img src="./imgs/Prancheta 23 cópia.png" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet,ibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.
            </p>
        </div>
        <div class="post">
            <div class="img">
                <img src="./imgs/Prancheta 23.png" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet,ibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim.
            </p>
        </div>
    </div>
    <footer class="foooter">

    </footer>
</body>
</html>