<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css3.css">
</head>
<body>
    <div class="conteiner">
        <div class="parte1">
            <div class="logo">
                <a href="./index.html"><img src="./imgs/Prancheta 8.png" alt=""></a>
            </div>
            <div class="texto">
                <h2>Quando devo procurar a psicóloga?</h2>
                <p>Essa plataforma foi feita pensando em você.</p>
            </div>
            <div class="algumacoisa"></div>
            <div class="footer"></div>
        </div>
        <div class="parte2">
            <div class="cabecalho">
                    <h3>Nosso Propózito</h3>
                    <div class="linha"></div>
           </div>
           <div class="texto">
               <p>Um breve texto falando alguns motivos para buscar ajuda psicológica, talvez uma interação mostrando graficos dos testes feitos no site</p>
           </div>
           <div class="botao">
               <a href="">Marcar consulta</a>
           </div>
        </div>
        <div class="parte3">
            <div class="header">

            </div>
            <div class="cabecalho">
                <h3>Teste de ansiedade</h3>
                <div class="linha"></div>
            </div>
            <div class="texto">
                <p>Uma instrução sobre ansiedade e tals e coisa djasndais doiasdm niasd oiadm asdikm oaidma joadm asdlaksdma djasdams dasdakdmadmaldkadampdoad</p>
            </div>
            <div class="botao">
                <a href="./page_teste.html">Fazer teste de ansiedade</a>
            </div>
        </div>
        <footer class="foooter">

        </footer>
    </div>
</body>
</html>