<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css2.css" />
  </head>
  <body>
    <div class="conteiner">
      <header class="header">
        <div class="logo">
          <a href="./index.html"><img src="./imgs/Prancheta 8.png" alt=""/></a>
        </div>
        <div class="texto">
          Questionário Had <br />
          Descrição do questionário <br />
          dasdjandjiasndansdasjndajnasdnajdnasjdnasjdnas ndjasndjasn djansdjnas
          jnasjnda jsndaj ndajsnd andasdnaksn
        </div>
        <div class="footer"></div>
      </header>
      <div class="conteudo">
        <div class="quadro">
          <div class="quest">
            <div class="borda"></div>
            <div class="caixa">
              <h3>Questão 1</h3>
              <p>dasdasd asdas da das dasdas adss dasd a</p>
              <h3>Opções de resposta</h3>
              <ul>
                <li>dsadasda</li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div class="quest">
            <div class="borda"></div>
            <div class="caixa">
              <h3>Questão 1</h3>
              <p>
                dasdamsdmasdmaodmasdamosdam dmoasmd andiasmd adiam dajsjdiams
                dadkam dajsidkmasdasdmasdm
              </p>
              <h3>Opções de resposta</h3>
              <ul>
                <li>A dmaksdma</li>
                <li>B adasojdasjd</li>
                <li>C asdajdoas</li>
                <li>D adsmaklmdam</li>
              </ul>
            </div>
          </div>
          <div class="quest">
            <div class="borda"></div>
            <div class="caixa">
              <h3>Questão 1</h3>
              <p>
                dasdamsdmasdmaodmasdamosdam dmoasmd andiasmd adiam dajsjdiams
                dadkam dajsidkmasdasdmasdm
              </p>
              <h3>Opções de resposta</h3>
              <ul>
                <li>A dmaksdma</li>
                <li>B adasojdasjd</li>
                <li>C asdajdoas</li>
                <li>D adsmaklmdam</li>
              </ul>
            </div>
          </div>
          <div class="button"><a href="">Enviar</a></div>
        </div>
      </div>
      <footer class="foooter"></footer>
    </div>
  </body>
</html>
